/*INTERNAL*/
* {
    font-family: 'Corbel', 'Yu Gothic', Meiryo, sans-serif
}
body {
    background-color: midnightblue;
}

/*HEADER*/
header {
    color: white;
}
header_left {
    float: left;
}
header_right {
    float: right;
}

/*MAIN*/
/*MAIN > FOR ALL*/
main a:hover {
    text-shadow: 0 0 3px white;
}
main a:active {
    color: white;
}
/*MAIN > FOR HOME PAGE*/
.homenotice_urgent {
    text-align: center;
    background-color: darkred;
    color: white;
}
/*MAIN > FOR ABOUT PAGE*/
.about_main1 {
    background-color: darkcyan;
    color: white;
}
.about_main2 {
    background-color: darkmagenta;
    color: white;
}
/*MAIN > FOR ROADMAP PAGE*/
.roadmap_main1 {
    background-color: indigo;
    color: white;
}
.roadmap_main2 {
    background-color: darkmagenta;
    color: white;
}

/*FOOTER*/
footer {
    color: midnightblue;
    background-color: white;
    overflow: auto;
    padding: 1%;
}
.div_footer_left {
    float: left;
}
.div_footer_right {
    float: right;
}